<% include partials/header %>

<%= auth.user %>

<% for (let m of post) { %>
    <div class="post-postslist">
        <img class="post-thumb" alt="thumbnail" src="/public/images/<%=m.post_pid%>/thmb.jpg">
        <a class="post-postslist-title" href="/posts/?pid=<%=m.post_pid%>">
            <%=m.title%>
        </a>
        <div class="post-postslits-short">
            <%=m.shortdesk%>
        </div>
        <div class="post-postslist-price">
            <%=m.price%>
        </div>
    </div>
<% } %>


<% include partials/footer %>