<% include partials/header %>
<input type="hidden" id="pid" value="<%= auth.user %>">
<div id="error-box">

</div>

<div id="success-message">

</div>

<div class="modify-user-info-card card">
    <div class="modify-user-info-card-title card-title">
        manage account
    </div>
    <div class="modify-user-info-card-body card-body">
        <ul>
            <li>
                <span class="modify-user-link" onclick="mod('passwdmod')">
                    Change Password
                </span>
            </li>
            <li>
                <span class="modify-user-link" onclick="mod('emailmod')">
                    Change Email
                </span>
            </li>
            <li>
                <span class="modify-user-link" onclick="advertmod()">
                    Manage My Adverts
                </span>
            </li>
            <li>
                <span class="modify-user-link" onclick="mod('delmod')">
                    Delete My Account
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="active-posts">
    Active Posts
</div>
<% for (let m of post) { %>
    <div class="post-postslist">
        <a href="/posts/edit/?pid=<%=m.post_pid%>" class="post-postlist-edit">Edit</a>
        <img class="post-thumb" alt="thumbnail" src="/public/images/<%=m.post_pid%>/thmb.jpg">
        <a class="post-postslist-title" href="/posts/?pid=<%=m.post_pid%>">
            <%=m.title%>
        </a>
        <div class="post-postslits-short">
            <%=m.shortdesk%>
        </div>
        <div class="post-postslist-price">
            <%=m.price%>
        </div>
    </div>
<% } %>
<div class="mod-modal" id="mod-modal">
    <div class="mod-modal-background">
        <div class="mod-modal-card card">
            <div id="mod" class="mod-modal-card-title card-title">
                    <h4 id="title" class="mod-modal-title"></h4>
                    <span class="close" id="close" onclick="closeModal();">X</span>
            </div>
            <div id="mod-error"></div>
            <div id="mod-body" class="mod-modal-card-body card-body">

            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="/public/scripts/account.js"></script>
<% include partials/footer %>