<% include partials/acctheader %>

<input type="hidden" id="pid" value="<%=auth.user%>">
<div id="error-box">

</div>

<div id="success-message">

</div>

<div class="modify-user-info-card card">
    <div class="modify-user-info-card-title card-title">
        manage account
    </div>
    <div class="modify-user-info-card-body card-body">
        <ul>
            <li class="modify-user-li">
                <span class="modify-user-link" onclick="mod('otherinfo');">
                    Other Info
                </span>
            </li>
            <li class="modify-user-li">
                <span class="modify-user-link" onclick="mod('passwdmod')">
                    Change Password
                </span>
            </li>
            <li class="modify-user-li">
                <span class="modify-user-link" onclick="mod('emailmod')">
                    Change Email
                </span>
            </li class="modify-user-li">
            <li>
                <span class="modify-user-link" onclick="advertmod()">
                    Manage My Adverts
                </span>
            </li class="modify-user-li">
            <li>
                <span class="modify-user-link" onclick="mod('delmod')">
                    Delete My Account
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="active-posts">
    active posts
</div>
<% for (let m of post) { %>
    <div class="post-postslist card">
        <div class="post-thmb-cont">
                <img class="post-thumb" alt="thumbnail" src="/public/images/<%=m.post_pid%>/thmb.jpg">
        </div>
        
        <a class="post-postslist-title" href="/posts/?pid=<%=m.post_pid%>">
            <%=m.title%>
        </a>
        <div class="post-postlist-desc-cont">
                <div class="post-postslits-short">
                        <%=m.shortdesk%>
                </div>
                <div class="price">
                    <%=m.price%>
                </div>
                <a href="/posts/edit/?pid=<%=m.post_pid%>" class="post-postlist-edit">Edit</a>
        </div>
    </div>
<% } %>

<script src="/public/scripts/account.js"></script>

<% include partials/footer %>