<% include partials/header %>

<div class="add-post-card" onload="checkRadio()">
        <div class="card-title add-post-card-bg">
            edit a post
        </div>
        <div class="card-body">
            <div class="greater-form">
                <form method="POST" action="/addImage/?sub=true" enctype="multipart/form-data">
                    <div class="add-post-form">
                        <label class="form-label" for="title">
                            title
                        </label> <br>
                        <input id="title" class="user-info" type="text" name="title" value="<%=post.title%>"><br>
            
                        <label class="form-label" for="zip">
                            zip code
                        </label><br>
                        <input id="zip" class="user-info" type="text" name="zip" value="<%=post.zip%>"><br>
            
                        <label class="form-label" for="price">
                            price
                        </label><br>
                        <input id="price" class="user-info" type="text" name="price" value="<%=post.price%>"><br>
            
                        <label class="form-label" for="post">
                            category
                        </label><br>
            
                        <label class="check-form-label" for="cars">
                            cars and trucks
                        </label>
                        <input id="cars" name="post" type="radio" class="category check-form-radio" value="cars"><br>
            
                        <label class="check-form-label" for="boats">
                            boats and watercraft
                        </label>
                        <input id="boats" name="post" type="radio" class="category check-form-radio" value="boats"><br>
            
                        <label class="check-form-label" for="collect">
                            collectibles
                        </label>
                        <input id="collect" name="post" type="radio" class="category check-form-radio" value="collect"><br>
            
                        <label class="check-form-label" for="electronics">
                            electronics
                        </label>
                        <input id="electronics" name="post" type="radio" class="category check-form-radio" value="electronics"><br>
            
                        <label class="check-form-label" for="husapp">
                            household appliances
                        </label>
                        <input id="husapp" name="post" type="radio" class="category check-form-radio" value="husapp"><br>
            
                        <label class="form-label" for="contact">
                            contact phone 
                        </label><br>
                        <input id="contact" class="user-info" type="text" name="contact" value="<%=post.contact%>"><br>
            
                        <label class="check-form-label" for="active1">
                            active
                        </label>
                        <input id="active1" class="active user-info" type="radio" name="active" value="1"><br>

                        <label class="check-form-label" for="active0">
                            inactive
                        </label>
                        <input id="active0" class="active user-info" type="radio" name="active" value="0"> <br>

                        <label class="form-label" for="img">
                            image upload
                        </label><br>
                        <div id="inputCont" class="user-files">
                            <span class="input" id="testplace"></span>
                        </div>
                        <button id="addimg" class="user-submit" onclick="addInput();" type="button">Add</button><br>
                        
                    
                    <div class="submit-buttons">
                            <button class="user-submit" onclick="del();" type="button">delete</button>
                            <button class="user-submit" onclick="save();" type="button">save</button>
                    </div>

                    <input type="hidden" value="<%=post.post_pid%>" name="post_pid" id="post_pid">
                    </div>
                
            </div>
            <div class="preview-container">
                <iframe class="preview-iframe" id="preview" src="/preview/?pid=<%=post.post_pid%>"></iframe>
            </div>

            <div class="description-text-box">
                <label class="form-label" for="main-desc">
                    description
                </label><br>

                <textarea id="desk" class="user-info desk-text" type="text" name="desk" rows="8" cols="70" required><%=post.desk%></textarea>
            </div>
        </form>
            <div class="clr"></div>
        </div>
    </div>
    <script>
    var values = {
        category : '<%=post.post%>',
        active : 'active' + '<%=post.active%>'
    }

    document.getElementById(values.category).checked = true;
    document.getElementById(values.active).checked = true;

    function queryfy(obj) {
        if (typeof(obj) != 'object') {
            return 1;
            console.error('An object must be supplied');
        }
        var qstring = '?';
        for (let m in obj) {
            let n = encodeURI(m);
            let o = encodeURIComponent(obj[m]);
            qstring += (n + '=' + o + '&');
        }
        console.log(qstring);
        return qstring;
    }

    function reloadIf(qstr) {
        var iframe = document.getElementById('preview');
        var bareframe = iframe.src.split('?')[0];
        bareframe += queryfy(qstr);
        iframe.src = bareframe;
    }

    function save() {
        var f = 0;       
        var iframe = document.getElementById('preview');
        var id = document.getElementById('post_pid');
        
        //Get category value
        var j = document.querySelectorAll('.category');
        for (let m in j) {
            if (j[m].checked) {
                f = j[m].value;
            }
        }

        var k = document.querySelectorAll('.active');
        for (let m in k) {
            if (k[m].checked) {
                g = k[m].value;
            }
        }

        formData = new FormData(),
            title = document.getElementById('title'),
            zip = document.getElementById('zip'),
            price = document.getElementById('price'),
            desk = document.getElementById('desk'),
            contact = document.getElementById('contact'),
            post_pid = document.getElementById('post_pid'),
            post = f,
            active = g
        ;

        var  images = document.querySelectorAll('.input');
        
        formData.append(title.name, title.value);
        formData.append(zip.name, zip.value);
        formData.append(price.name, price.value);
        formData.append(desk.name, desk.value);
        formData.append('contact', contact.value);
        formData.append('post_pid', post_pid.value);
        formData.append('post', f);
        
        if (images.length > 1) {
            for (let m of images) {
            formData.append(m.name, m.files[0]);
        }
        }
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = (err) => {
                var pid = {pid : post_pid.value};
                reloadIf(pid);
                saved();
        }
        xhr.open("POST", "/addImage/", true);
        //xhr.setRequestHeader('Content-Type', 'multipart/form-data');
        //console.log(JSON.stringify(things));
        xhr.send(formData);
    }

    function addInput() {
        //<input id="img" class="user-info" type="file" name="img[]" multiple>
        let m = document.getElementById('testplace').classList.remove('input');
        var all = document.querySelectorAll('.input'),
        input = document.createElement('input'),
        root = document.getElementById('inputCont'),
        id = 'img' + (all.length + 1);

        input.id = id;
        input.classList.add('input', 'user-info');
        input.setAttribute('type', 'file');
        input.setAttribute('name', id);
        
        root.insertBefore(input, all[0]);
    }

    function saved() {
        console.log('saved');
    }
    </script>

<% include partials/footer %>