<% include partials/header %>

<div class="form-body-cont">
        <div class="form-input-cont">
            <div class="form-input-title">
                <%= form.title %>
            </div>
            <div class="form-input-input-cont">
            <% for (let m in form.inputs) { %>
            <% if(form.inputs[m].type == 'text' || form.inputs[m].type == 'password') { %>
                <div class="form-input-input">
                    <label class="user-label" for="<%=form.inputs[m].id%>">
                        <%= form.inputs[m].label %>
                    </label>
                    <div class="form-input-border">
                        <input type="<%=form.inputs[m].type%>" class="<%=form.inputs[m].classes%>" id="<%=form.inputs[m].id%>" name="<%=form.inputs[m].id%>" onkeyup="<%=form.inputs[m].action%>">
                    </div>
                </div>
            <% } else if (form.inputs[m].type == 'radio' || form.inputs[m].type == 'checkbox') { %>
                <div class="form-input-input">
                    <label class="user-label-check" for="<%=form.inputs[m].id%>">
                        <%=form.inputs[m].label%>
                    </label>
                    <input type="<%=form.inputs[m].type%>" class="<%=form.inputs[m].classes%>" id="<%=form.inputs[m].id%>" name="<%=form.inputs[m].name%>" onchange="<%form.inputs[m].action%>">
                </div>
            <% } else { %>
                <% console.log(form[m].type) %>
            <% } %>
            <% } %>
            </div>
            <div id="form-input-submit-cont">
            <% for (let m in form.submit) { %>
                <button class="user-submit" id="<%=form.submit[m].id%>" onclick="<%=form.submit[m].action%>" <%=form.submit[m].attr%>><%=form.submit[m].value%></button>
            <% } %>
            </div>
        </div>
    </div>
    <script>
        //Assign attributes from JSON layout
        var attributes = <%- JSON.stringify(form.inputs) %>;
        for (let m of attributes) {
            for (let act in m.actions) {
                document.getElementById(m.id).setAttribute(act, m.actions[act]);
            }
        }
    </script>

<% include partials/footer %>