<% include partials/header %>
<div class="main-content">
    <div class="card post-sort-card">
        <div class="card-title post-sort-card-title">
            filter
        </div>
            <input type="text" name="search" id="search" class="user-info search" placeholder="search">
            <button type="button" id="search-button" onclick="search()" class="user-submit">Search</button>
            <div class="category-sort-cont">
                <% var n = [] %>
                <% for(let j in post) { %>
                    <% if (n.indexOf(post[j].post) == '-1') { n.push(post[j].post);%>
                    <label class="category-sort-label check-form-label" for="<%=post[j].post%>">
                        <%=post[j].post%>
                    </label>
                    <input type="checkbox" class="category-sort" id="<%=post[j].post%>" value="<%=post[j].post%>" onchange="filterCat()" checked><br>
                <% }} %>
            </div>
    </div>
    <div class="post-cont">
        <% for (let m of post) { %>
            <div class="post-postslist card">
                <input type="hidden" class="post_pid" value="<%=m.post_pid%>">
                <input type="hidden" class="category" value="<%=m.post%>">
                <div class="post-thmb-cont">
                        <img class="post-thumb" alt="thumbnail" src="/public/images/<%=m.post_pid%>/thmb.jpg">
                </div>
                
                <a class="post-postslist-title" href="/posts/?pid=<%=m.post_pid%>">
                    <%=m.title%>
                </a>
                <div class="post-postlist-desc-cont">
                        <div class="post-postslits-short">

                        </div>
                        <div class="price">
                            <%=m.price%>
                        </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script src="/public/scripts/postlist.js"></script>

<% include partials/footer %>