<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/public/styles/style.css">
    </head>

    <body>
            <div class="image-preview-container">
                    <span class="next" onclick="slideshow(1);"></span>
                    <span class="prev" onclick="slideshow(-1);"></span>
                    <div class="image-preview-container-child">
                        <div class="image-preview">
                            <div class="root">
                                <% if (post !== {}) {%>
                                    <% console.log(post) %>
                                    <% for (let m in post.images) {%>
                                        <div class="post-img">
                                            <img class="post-act-img" src="/public/images/<%=post.postPid%>/<%=post.images[m]%>">
                                        </div>
                                    <%}%>
                                <%} else {%>
                                    <div class="placeholder">
                                            <img class="placeholder-img" src="/public/images/noimage.png">
                                        </div>
                                <%}%>
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prev-details">
                    <div class="title-price">
                        <span id="title" class="prev-title"><%=post.title%></span>
                        <div class="clr"></div>
                    </div>
                    <div id="desc" class="desc-container"><%=post.desc%></div>
                </div>
                <div class="prev-detail">
                    <div class="detail-card card">
                        <div class="card-title">
                            Contact Info
                        </div>
                        <div class="card-body detail-card-body">
                            <ul class="post-detail">
                                <li id="main-price" class="main-price"> <%=post.price%> </li>
                                <li id="contact-num" class="contact-num"> <%=post.contact%> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script>
                    //Display the first image by default
                    document.querySelector('.post-img').style.display = "block";

                    var slideshow = val => {
                        let slides = document.querySelectorAll('.post-img');
                        for (let m in slides) {
                            if (slides[m].style.display == 'block') {
                                let n = Number(m) + Number(val);
                                if (n == slides.length) {
                                    n = 0;
                                } else if (n < 0) {
                                    n = slides.length - 1;
                                }
                                console.log(n);
                                slides[m].style.display = 'none';
                                slides[n].style.display = 'block';
                                break;
                            }
                        }
                    }

                    function parseQuery() {
                        var results = {};
                        
                        var str = window.location.href.split('?');
                        if (str.length == 1) {
                            console.log('No query string found')
                        } else {
                            var vrbl = str[1].split('&');
                            var q;
                            for (let g of vrbl) {
                                console.log(g);
                                q = g.split('=');
                                results[q[0]] = decodeURIComponent(q[1]);
                            }
                            document.getElementById('desc').innerHTML = results.desk;
                            document.getElementById('title').innerHTML = results.title;
                            document.getElementById('price').innerHTML = results.price;
                            document.getElementById('contact-num').innerHTML = results.contact;
                            }
                        
                    }
                </script>
    </body>
</html>